node_modules/
*.js
!scripts/*.js
dist
dist-cap
!.eslintrc.js
.idea
package-lock.json

.project
.settings/*
Pictures/Thumbs.db
Pictures/Splash/Thumbs.db
Pictures/TransparentPics/Thumbs.db

**/.DS_Store
release
!electron/**/*.js
