@media screen and (max-width: 767px) {
  .mobileShow { display: unset; }
  .mobileHide { display: none; }

  .buttonRow { row-gap: 6px; }

  .buttonRow > div:not(.buildingSpacer) {
    display: grid;
    grid-template-columns: 32px;
    grid-template-areas:
      "img name toggle"
      "total total toggle"
      "coins coins toggle"
      "cost cost toggle";
    align-items: center;
    border: 2px solid darkslategray;
    color: darkslategray;
    border-radius: 8px;
    padding: 8px 12px 12px;
    gap: 8px 2px;
    transition-property: border-color, background-color;
    transition-duration: var(--transition-extra);
  }

  .buttonRow > div > .desc > span:first-of-type {
    grid-area: name;
    font-size: 1.4em;
  }

  .buttonRow > div > .desc > span:last-of-type {
    grid-area: total;
    line-height: 1em;
  }

  .buttonRow > div > .buildingPurchaseBtn {
    grid-area: cost;
    text-align: start;
    color: inherit;
    background-color: unset;
    font-size: min(1em, 20px);
    width: unset;
    min-height: unset;
    border: none;
    padding: 0;
    line-height: 1em;
  }

  .buttonRow > div > .auto {
    grid-area: toggle;
    border: none !important;
    height: 90%;
    border-radius: 8px;
  }

  .buttonRow > div > img { grid-area: img; }
  .buttonRow > div > .stats { grid-area: coins; }

  .buttonRow > div > .desc { display: contents; }
  /* .buttonRow > div > .stats { line-height: 1em; } */

  .buttonRow > div:not(.buildingSpacer):not(.goldBuild) { /* Remove later */
    border: 2px solid gold;
    background-color: #1f1a00;
    color: gold;
  }

  .buttonRow > .buildingPurchaseAvailable.goldBuild {
    border: 2px solid gold;
    background-color: #1f1a00;
    color: gold;
  }

  .buildingPurchaseAvailable { cursor: pointer; }
  .buildingPurchaseAvailable > .buildingPurchaseBtn:hover { background-color: unset; }
}
